*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    /* height: 100vh; */
}
#header img{
    margin: 50px;
    width: 400px;
    height: 400px;
    /* box-shadow: #5f5c5c; */
}
 ul{
    display: flex;
    align-items: center;
    justify-content: end;
    gap:70px;
}


.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    position: relative;
  }
 .firstpage .menu .menu-flex li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: hotpink;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }

  .firstpage .menu .menu-flex li a:hover::after{
    width: 100%;
  }
  
  
  
.menu ul li {
    margin-top: 4vh;
    margin-right: 7vh;
    list-style-type: none;
}
.headline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 30% ;
   
}
.headings{
    margin-left: 70px;
}
.headline h1{
    flex-basis: 40%;
    font-size: 2.5rem;
    margin-bottom: 30px;
   
}
.headings h1 span{
    color: hotpink;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}
.headings p{
    font-size: 14px;
    line-height: 29px;
    opacity: 0.8;
}
.container{
    margin-left: 40px;
}
.container h1{
    margin-top: 70px;
    margin-bottom:50px;
    /* color: hotpink; */
    font-size: 40px;
}
.container .service-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:30px;
}
.container .service-list img{
    width: 330px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.container .service-list p{
    margin:20px 0px;
    font-size: 14px;
    opacity: 0.8;
}
 

/* ----------------------portfolio-------------------------------- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top:50px;
}
 .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width:100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
/* .imgSpec{
    width:60%;
    margin: 20px 20px; 
} */


.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),hotpink);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: hotpink;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width:60px;
    height:60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid hotpink;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    
    transition: 0.5s;
}
.btn:hover{
    background: hotpink;
}
#contact .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: hotpink;
    transform: translateY(-5px);
}
.btn .btn2{
    color: #262626;
    display: inline-block;
    background: hotpink;
}
.contact-right, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form btn2{
    color:rgb(40, 37, 39);
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}